
      h1 { size:65px;}
      h1 {color: orange;}
      #cordofundo { background-color: plum;}
      .cordofundo2 {background-color: seagreen;}

      h1{ font-family: sans-serif;}
      p { font-weight: 600;}
      body { font-size: 16px;}
      p { font: size 3em;}
      #amarelo { color: yellow;}
      #Vermelho { color: red;}
      #Marron { color: maroon;}




